%div.col_12
    %h1= "Who showed up?"
    %form{:method => "get", :action => "compare"}
        %fieldset
            %legend= "Choose your destruction"
            -users.each_with_index do |(key, user), i|
                %input{:type => "checkbox", :name => "user#{i}", :id => "#{user.name.downcase}", :value => "#{user.name.downcase}", :class => "checkbox"}
                %label{:for => "#{user.name.downcase}", :class => "inline"}
                    #{user.name} (#{user.games.length.to_s} games)
                %br
        %input{:type => "submit", :value => "Make it so"}


    %p
        link to 
        %a{:href => "/compare?u=green,laggy"}= "compare"
        thing
